
\.idea/libraries/

\.gradle/5\.1\.1/executionHistory/

\.gradle/5\.1\.1/fileHashes/

\.gradle/5\.1\.1/javaCompile/

\.gradle/buildOutputCleanup/

\.idea/caches/

\.idea/

build/intermediates/lint-cache/maven\.google/com/google/firebase/

app/release/output\.json

*.apk
